.btn:disabled {
  background-color: #cccccc;
  border          : 1px solid #999999;
  color           : #666666;
}

h5 {
  color           : #855bdf;
  font-size       : 1.25rem;
  font-weight     : bold;
}

.updateBtn {
  background-color: #855bdf;
  color           : white;
}