<button type="button" class="btn navbarItem" data-bs-toggle="modal" data-bs-target="#PasswordModal">
  Change Password
</button>
  
<div class="modal fade" id="PasswordModal" tabindex="-1" aria-labelledby="PasswordModalLabel" 
      aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="PasswordModalLabel">Change Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column">
        <form [formGroup]="changePasswordForm">
          <div class="form-floating">
            <input type="password" [type]="hideOldPassword ? 'password' : 'text'" id="oldPassword"
                  class="form-control" placeholder="oldPassword" formControlName ='oldPassword'>
              <label for="oldPassword">
                <span *ngIf="changePasswordForm.get('oldPassword').hasError('required') && 
                            changePasswordForm.get('oldPassword').touched 
                            else showPasswordMessage" class="errorMessage">
                Password is Required<sup>*</sup>
                </span>
                <span *ngIf="changePasswordForm.get('oldPassword').hasError('pattern') && 
                            changePasswordForm.get('oldPassword').dirty" class="errorMessage">
                Invalid Password<sup>*</sup>
                </span>
                <ng-template #showPasswordMessage>Old Password<sup>*</sup></ng-template>
              </label>
              <mat-icon class="toggleButton" (click)="togglePassword()">
                {{hideOldPassword ? 'visibility_off' : 'visibility'}}
              </mat-icon>
          </div>
          <div class="form-floating">
            <input type="password" [type]="hideNewPassword ? 'password' : 'text'" id="userPassword"
                  class="form-control" placeholder="userPassword" formControlName ='userPassword'>
              <label for="userPassword">
                <span *ngIf="changePasswordForm.get('userPassword').hasError('required') && 
                            changePasswordForm.get('userPassword').touched 
                            else newPasswordMessage" class="errorMessage">
                New Password is Required<sup>*</sup>
                </span>
                <span *ngIf="changePasswordForm.get('userPassword').hasError('pattern') && 
                            changePasswordForm.get('userPassword').dirty" class="errorMessage">
                Invalid Password<sup>*</sup>
                </span>
                <ng-template #newPasswordMessage>New Password<sup>*</sup></ng-template>
              </label>
              <mat-icon class="toggleButton" (click)="toggleNewPassword()">
                {{hideNewPassword ? 'visibility_off' : 'visibility'}}
              </mat-icon>
          </div>
          <div class="form-floating">
            <input type="password" [type]="hideConfirmPassword ? 'password' : 'text'" 
                  class="form-control" id="confirmPassword" placeholder="confirmPassword" 
                  formControlName ='confirmPassword'>
              <label for="confirmPassword">
                <span *ngIf="changePasswordForm.get('confirmPassword').hasError('required') && 
                            changePasswordForm.get('confirmPassword').touched 
                            else confirmNewPassword" class="errorMessage">
                Password is Required<sup>*</sup>
                </span>
                <ng-template #confirmNewPassword>Confirm New Password<sup>*</sup></ng-template>
                <span *ngIf="changePasswordForm.hasError('noMatch') && 
                            changePasswordForm.get('confirmPassword').dirty" class="errorMessage">
                Passwords don't match</span>
              </label>
              <mat-icon class="toggleButton" (click)="toggleConfirmPassword()">
                {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}
              </mat-icon>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn updateBtn" (click)="changePassword()" 
                [disabled]="!changePasswordForm.valid">Save changes</button>
      </div>
    </div>
  </div>
</div>