.form-element {
  margin-top      : 2%;
}

h5 {
  color           : #855bdf;
  font-size       : 1.25rem;
  font-weight     : bold;
}

.updateBtn {
  background-color: #855bdf;
  color           : white;
}

@media screen and (max-width: 992px) {
  .changeBtn {
    margin        : 0%;
  }

}