.displayUser {
  width        : 65%;
}

.displayUser { 
  font-size    : 1.5rem;
  box-shadow   : 1px 2px 17px 3px rgba(0,0,0,0.75);
}

img {
  border       : 2px solid white;
  border-radius: 50%;
  height       : 15%;
  width        : 15%;
}

.mainDiv, .welcomePage , nav , .profilePicDiv {
  background   : rgb(214,218,255);
  background   : linear-gradient(90deg, rgba(214,218,255,1) 0%, rgba(255,193,231,1) 100%);
}

.profilePicDiv, .welcomePage{
  width        : 100%; 
  margin-bottom: 2%;
}

.row {
  padding      : 2%;
  border-bottom: 2px solid rgba(255,193,231,1);
}

.welcomePage {
  color        : #5f419f;
  font-size    : 2rem;
  margin-top   : 3%;
}

@media screen and (max-width: 1200px) {
  .displayUser {
    font-size  : 1.25rem;
    width      : 80%;
  }
}

@media screen and (max-width: 576px) {
  .displayUser {
    font-size  : 1.15rem;
    width      : 90%;
  }

}

@media screen and (max-width: 992px) {
  .logoutBtn, .instrucBtn {
    margin-top : 1%;
    width      : 25vw;
  }

}